*~
*.o
*.a
*.so

include/bubbleprofiler_version.hpp

bin/
lib/

.vscode/
.idea/
build*/
CMakeCache.txt
BubbleProfiler.cbp
BubbleProfiler
CMakeFiles/
cmake-build-debug/
cmake_install.cmake
install_manifest.txt
output/
doc/_build/
doc/_doctrees
doc/conf.py.in
.ycm_extra_conf.py
.*.swp
